<head>
<p id="notice"><%= notice %></p>
<%= javascript_include_tag '//www.google.com/jsapi', 'chartkick' %>
</head>
<h1>rank</h1>
<table>
  <tbody>
      <% @top5.each.with_index do |word,index| %>
        <tr>
           <h5><%= index + 1 %>位「<%= word[0] %>」</h5>
        </tr>
      <% end %>
    <br>
    <%= high_chart("sample", @graph) %>
  </tbody>
</table>
<br>
